<!DOCTYPE html>
<html>
<body>
  <textarea style="width:80%;" rows=40 id="textfield" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
  <script src="/y.es6"></script>
  <script src="/script.js"></script>
</body>
</html>